core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kladd.txt
.venv/
.DS_Store
Thumbs.db
*~
*.log
.env
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.coverage
htmlcov/
*.py[cod]
staticfiles/
media/
venv/
