{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.help_text }}
        {{ form.username.errors }}
    </div>
    
    <div>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        <span class="helptext">{{ form.password1.help_text }}</span>
        {{ form.password1.errors }}
    </div>
    
    <div>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.help_text }}
        {{ form.password2.errors }}
    </div>

    <button type="submit">Sign Up</button>
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}
